// general styles

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
}

.wrapper {
    max-width: 1400px;
    width: 95%;
    margin: 0 auto;
}

body, 
ul, 
h1, 
h2, 
h3,
h4,
p, 
form {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
    font-family: 'Merriweather', serif;
    color: $blue;
}

h2, h3 {
    font-size: 3.6rem;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

p {
    line-height: 1.5;
    font-size: 2rem;
}

// hamburger menu 

.hamburger {
    font-size: 2.5rem;
    color: $grey;
    margin: 0 20px;
    display: none;
    cursor: pointer;
}

.mobile {
    display: none;
}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: $grey;
    padding: 30px;
    font-size: 1.5rem;
    text-decoration: none;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: $white;
    z-index: 100;
    height: 30%;

    .sub-menu-2 {
        left: 100px;
        width: auto;
    }
}

.open-menu {
    display: flex;
    position: absolute;
    top: 10vh;
    right: 0;
    left: 0;
    bottom: 0;
}


