// main styles

.hero {
    background-image: url(../assets/header-img.webp);
    background-size: cover;  
    background-position: center center;
    background-repeat: no-repeat;
}

.hero-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}

.hero-left {
    width: 50%;
}

.concert {
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
    padding-right: 20px;
}

.hero-content {
    width: 50%;
    margin: 20px 0;

    p {
        font-size: 2rem;
        font-weight: 300;
        color: $grey;
        margin: 20px 0;
    }
}

.hero-content .button {
    padding: 10px;
}

.hero-mobile {
    display: none;
}

// clients section 

.client-container ul {
    display: flex;
    justify-content: space-between;
    overflow-x: scroll;
    padding: 20px 0;

    li {
        max-width: 120px;
        min-width: 120px;
        margin: 0 10px;
    }
}

// section one 

.section-one {
    background-color: rgba(51, 94, 235, 1);
    color: $light;
}

.quota-alexander {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.qa-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        padding-bottom: 20px;
    }

    p {
        padding-bottom: 40px;
    }

    .button {
        align-self: flex-start;
    }

}

.small {
    font-size: 1.7rem;
}

.qa-image {
    width: 40%;
}

.section-two {
    background-color: rgba(16, 35, 158, 1);
    color: $light;
}

// section three 

.section-three {
    padding: 100px 0 70px 0;
}

.gallery {
    display: flex;
    align-items: center;
    padding-bottom: 90px;
}

.gallery-image {
    width: 50%;
    margin: 0 50px;
}

.gallery-content {
    width: 60%;

    h3 {
        padding-bottom: 30px;
    }
}

.gallery-content p {
    color: $grey;
    font-size: 1.7rem;
    padding-bottom: 15px;
}

.blue-link a {
    color: $blue;
    font-size: 1.7rem;

    &:hover,
    &:focus-within {
        color: $link-blue;
        border-bottom: 1px solid $link-blue;
    }
}

.blue-link i {
    padding-left: 10px;
}

hr {
    width: 80%;
}

// section four 

.section-four h3 {
    text-align: center;
    padding-bottom: 30px;
}

.news-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.news-item {
    display: flex;
    flex-direction: column;
    width: 23%;
    margin: 0 20px;

    p {
        font-size: 1.7rem;
        color: $grey;
        padding-bottom: 15px;
    }
}

h4 {
    font-size: 2rem;
    padding: 20px 0;
    line-height: 1.5;
}

// section five 

.section-five {
    background: rgba(240, 245, 255, 1);
    padding: 100px 0;
    color: $dark-grey;
    text-align: center;

    p {
        width: 60%;
        margin: 0 auto;
        font-size: 1.7rem;
        padding: 30px 0;
    }
}

iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 550px;
    height: 300px;
}

// section six 

.section-six {
    background: $dark-purple;
    color: $white;
    padding-top: 50px;
    text-align: center;

    p {
        width: 70%;
        margin: 0 auto;
        font-size: 1.7rem;
        padding: 30px 0;
    }
}

.section-six h4 {
    text-transform: uppercase;
}

.section-six .button {
    padding: 10px;
    margin: 20px 0 70px;
}

// footer 

footer {
    background: $foot-grey;
    padding: 50px 0 100px;

    .logo {
        padding-top: 30px;
    }
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-left p {
    font-size: 1.3rem;
    padding-top: 30px;
    color: $grey;
}

.footer-right {
    width: 70%;
    display: flex;
    justify-content: space-around;

    li {
        font-size: 1.5rem;
        color: $grey;
        padding-bottom: 10px;
        line-height: 1.5;
        width: 85%;

        h5 {
            font-size: 1.8rem;
            color: $black;
        }
    }
}

.footer-right a:hover, 
.footer-right a:focus-within {
    border-bottom: 1px solid $grey;
}
